// Ambix Configuration file
// Written by the Ambistronix Library
// Run by Cal Armstrong, University of York on 24-Mar-2019

// Note: The inputs to the Ambix Plugin MUST be ACN/SN3D

// ------ Decoder Info. ------
// decoder file: O1_3d_sn3d_octo4_pinv_basic.config
// format: acn
// order: 1
// dimension: 3d
// normalisation: sn3d
// loudspeaker configuration: octo4
// decode type: pinv
// decode weighting: basic
// ------ Decoder Info. ------

#GLOBAL
/debug_msg O1_3d_sn3d_octo4_pinv_basic.config
/coeff_scale sn3d
/coeff_seq acn
/flip 0
/dec_mat_gain 1
#END

#HRTF
azi_0,0_ele_0,0.wav
azi_180,0_ele_0,0.wav
azi_90,0_ele_45,0.wav
azi_90,0_ele_-45,0.wav
azi_270,0_ele_45,0.wav
azi_270,0_ele_-45,0.wav
#END

#DECODERMATRIX
 0.166667  0.000000  0.000000  0.500000 
 0.166667  0.000000  0.000000 -0.500000 
 0.166667  0.353553  0.353553  0.000000 
 0.166667  0.353553 -0.353553  0.000000 
 0.166667 -0.353553  0.353553 -0.000000 
 0.166667 -0.353553 -0.353553 -0.000000 
#END